{% extends "base.html" %}
{% block title %} Fact {% endblock %}
{% load static %}

{% block content %}
<div class="container" style="padding-bottom: 50px;">
  <h2>Fact</h2>
  {% if msg %}
    <span class="text-success h4">{{ msg }}</span>
  {% endif %}
  <p>Showing page {{ page }} of {{ num_pages }} pages</p>
  <button
    class="btn btn-primary"
    {% if page == 1 %} disabled {% endif %}
    onclick="location.href='/verifier_dim/{{page|add:"-1"}}?order_by={{ order_by }}';"
  >
    ❮ Previous
  </button>
  <button
    class="btn btn-primary"
    {% if page == num_pages %} disabled {% endif %}
    onclick="location.href='/verifier_dim/{{page|add:"1"}}?order_by={{ order_by }}';"
  >
    Next ❯
  </button>
 <!-- <button
    class="btn btn-success"
    onclick="location.href='/verifier_dim/ship_id/';"
    style="float: right;"
  >
    Insert new
  </button> -->
  <br/>
  <br/>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="ordering" onclick="window.location='/fact/?order_by=ship_id'">ship_id</th>
          <th class="ordering" onclick="window.location='/fact/?order_by=verifier_id'">verifier_id</th>
          <th class="ordering" onclick="window.location='/fact/?order_by=eedi'">eedi</th> 
	  <th class="ordering" onclick="window.location='/fact/?order_by=report_period'">report_period</th> 
	  <th class="ordering" onclick="window.location='/fact/?order_by=port_regist'">port_regist</th> 
	  <th class="ordering" onclick="window.location='/fact/?order_by=issue_date'">issue_date</th> 
	  <th class="ordering" onclick="window.location='/fact/?order_by=expiry_date'">expiry_date</th> 
	  <th class="ordering" onclick="window.location='/fact/?order_by=total_fuel_consmp'">total_fuel_consmp</th> 
	  <th class="ordering" onclick="window.location='/fact/?order_by=total_co2'">total_co2</th> 
	  <th class="ordering" onclick="window.location='/fact/?order_by=total_time_sea'">total_time_sea</th> 
	  <th class="ordering" onclick="window.location='/fact/?order_by=co2_emm_per_dist'">co2_emm_per_dist</th> 
	  <th class="ordering" onclick="window.location='/fact/?order_by=co2_emm_per_tw'">co2_emm_per_tw</th> 
        </tr>
      </thead>
     {% for row in rows %}
   <!--     <tr style="cursor:pointer;" onclick="window.location='/verifier_dim/ship_id/{{ row.imo }}'"> -->
          {% for val in row %}
          <td>{{ val|default:'0' }}</td>
          {% endfor %}
        </tr>
      {% endfor %} 
    </table>
  </div>
</div>
{% endblock %}
