{% extends "base.html" %}
{% block title %} visual {% endblock %}
{% load static %}

{% block content %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>Demo plot</title>
    </head>
    <body>
        {% autoescape off %}
            {{ plot_div }}
        {% endautoescape %}
    </body>
    <body>
        {% autoescape off %}
            {{ plot_div2 }}
        {% endautoescape %}
    </body>
    <body>
        {% autoescape off %}
            {{ plot_div3 }}
        {% endautoescape %}
    </body>
    <body>
        {% autoescape off %}
            {{ plot_div4 }}
        {% endautoescape %}
    </body>
    <body>
        {% autoescape off %}
            {{ plot_div5 }}
        {% endautoescape %}
    </body>
    <body>
        {% autoescape off %}
            {{ plot_div6 }}
        {% endautoescape %}
    </body>
</html>


{% endblock %}